{% extends 'base.html' %}

{% block title %}
登录 - {{ Setting.get_setting('blog_name', 'Plog') }}
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='dist/styles/page-login.css') }}">
{% endblock %}

{% block header %}
{% include 'modules/auth_header.html' %}
{% endblock %}

{% block content %}
{{ super() }}
<div class="content-wrap">
    <div class="login-box">
        <div class="login-body" id="login-body">
            <h4 class="text-center">登录</h4>
            <div class="form-group">
                <input style="display:none" type="text" name="fakeusernameremembered" /><!-- for disable autocomplete on chrome -->
                <input id="username" class="form-control" placeholder="用户名或邮箱" autocomplete="off" />
            </div>
            <div class="form-group">
                <input id="password" type="password" class="form-control" placeholder="密码" autocomplete="off" />
            </div>
            <div class="clearfix">
                <button disabled="disabled" id="login-btn" type="submit" class="btn btn-block btn-blue">登 录</button>
                <a href="{{ url_for('auth.find_pass') }}" class="retrieve text-blue">忘记密码</a>
                <a href="{{ url_for('auth.register') }}" class="reg text-blue">注册账户</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block script %}
<!--script src="//cdn.bootcss.com/jquery/2.2.0/jquery.min.js"></script-->
<script type="text/javascript" src="{{ url_for('static', filename='dist/scripts/libs/jquery/2.2.0/jquery.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='dist/scripts/page-login.js') }}"></script>
{% endblock %}