<!-- 页脚 -->
<footer class="footer">
    <div class="container footer-inner">
        <div class="footer-nav">
            {% if Setting.get_setting('navigation') and (json.loads(Setting.get_setting('navigation'))).get('navigations') %}
                {% for nav_setting in (json.loads(Setting.get_setting('navigation'))).get('navigations') %}
                    <a href="{{ nav_setting['primary'].values()[0] or 'javascript:void(0)' }}" class="transition">
                        {{- nav_setting['primary'].keys()[0] -}}
                    </a>
                {% endfor %}
            {% endif %}
        </div>
        <div class="copy-right">
            Copyright &copy; {{ datetime.utcnow().strftime('%Y') }}
            <a href="{{ url_for('main.index') }}">{{ Setting.get_setting('blog_name', 'Plog') }}</a>
            &nbsp;沪ICP备14045138号-1
        </div>
        <div class="footer-icons pull-right">
            <!-- 新浪微博 -->
            <a href="http://weibo.com/touchumind" target="_blank" class="weibo"><i class="icon icon-weibo"></i></a>
            <!-- 微信 -->
            <a href="javascript:void(0)" class="weixin"><i class="icon icon-weixin"></i></a>
            <!-- RSS -->
            <a href="{{ url_for('main.rss') }}" target="_blank" class="rss"><i class="icon icon-rss"></i></a>
        </div>
    </div>
</footer>
<!-- End 页脚 -->