<header class="common-header">
    <div class="container">
        <a class="logo" href="{{ url_for('main.index') }}"><img src="{{ Setting.get_setting('logo') or url_for('static', filename='dist/images/logo.png') }}" alt="Logo"></a>
        <nav>
            <ul class="nav-list">
                {% if nav_settings %}
                {% for nav_setting in nav_settings %}
                    <li name="{{ nav_setting['primary'].keys()[0] }}" class="">
                        <a href="{{ nav_setting['primary'].values()[0] or 'javascript:void(0)' }}">
                            {{ nav_setting['primary'].keys()[0] }}
                            {% if nav_setting.get('sub') %}
                            <i class="fa fa-angle-down"></i>
                            {% endif %}
                        </a>
                        {% if nav_setting.get('sub') %}
                            <div class="pop-up">
                                <div class="menu">
                                    {% for sub_item in nav_setting.get('sub') %}
                                    <a href="{{ sub_item.keys()[0] }}" class="mobile-hide">{{ sub_item.values()[0] }}</a>
                                    {% endfor %}
                                </div>
                            </div>
                        {% endif %}
                    </li>
                {% endfor %}
                {% endif %}
            </ul>
        </nav>
        <div class="right-col right-nav-wrapper">
            <ul class="sub-nav">
                <li class="search-item">
                    <a href="javascript:void(0)"><i class="fa fa-search"></i>搜索 </a>
                    <div class="search-wrap pop-up">
                        <div class="searchbar">
                            <form action="search" class="search-form" method="post">
                                <input type="text" placeholder="搜索" name="s">
                                <button class="search-icon search-btn" type="submit"><i class="fa fa-search"></i> </button>
                            </form>
                        </div>
                    </div>
                </li>
                <li class="login-actions">
                    <a href="javascript:void(0)" class="login-link"><i class="fa fa-user"></i>登录/注册 </a>
                </li>
            </ul>
        </div>

    </div>
</header>