{% extends 'dashboard/dash_base.html' %}

{% block title %}所有用户{{- ' - ' -}}{{- Setting.get_setting('blog_name', 'Plog') -}}{% endblock %}
{% block body_class %}dashboard-user dashboard-user-list{% endblock %}

{% block page_headtitle %}
<div class="page-title">
    <div class="title-env">
        <h1 class="title">用户列表</h1>
        <p class="description">站点用户列表</p>
    </div>
    <div class="breadcrumb-env">
        <ol class="breadcrumb">
            <li>
                <a href="{{ url_for('dashboard.dashboard_home') }}">
                    <span class="glyphicon glyphicon-home"></span>控制板
                </a>
            </li>
            <li>
                <a href="{{ url_for('dashboard.users') }}">用户</a>
            </li>
            <li>
                <a href="{{ url_for('dashboard.all_users') }}">用户列表</a>
            </li>
        </ol>
    </div>
    <div class="clearfix"></div>
</div>
{% endblock %}

{% block page_content %}
<section class="content">
{{ request.path }}
</section>
{% endblock %}