body{
    position: relative;
    color: #0e2026;
    font-weight: normal;
    -webkit-font-smoothing: antialiased;
    background-origin: border-box;
    box-sizing: border-box;

    &.abs-header{
        padding-top: 90px;
    }
}

body, button, input, select, textarea {
    //font: 14px/1.5 'Open Sans', Arial, 'Hiragino Sans GB', 'Microsoft YaHei', STHeiti, 'WenQuanYi Micro Hei', SimSun, sans-serif;
    //font: 14px/1.5 Arial, 'Microsoft yahei', 'Hiragino Sans GB', '冬青黑体简体中文 w3', 'Microsoft Yahei', 'Hiragino Sans GB', '冬青黑体简体中文 w3', STXihei, '华文细黑', '微软雅黑', SimSun, '宋体', Heiti, '黑体', sans-serif;
    font: 14px/1.5 "Lantinghei SC", "Open Sans", Arial, "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", "STHeiti", "WenQuanYi Micro Hei", SimSun, sans-serif;
}

input, textarea, button{
  &:focus{
    outline: none !important;
  }
}

textarea{
    resize: none;
}

blockquote {
    padding: 0 0 0 15px;
    margin: 0 0 20px;
    border-left: 5px solid #eeeeee;
}

::selection{
    //background: #fe917b;
    background: #3ca5f6;
    color: #fff;
}

img{
    max-width: 100%;

    &.avatar{
        border-radius: 50%;
    }
}


//animation
.hover-scale{

    img{
        -webkit-transition: all .5s ease-out;
        -moz-transition: all .5s ease-out;
        -ms-transition: all .5s ease-out;
        -o-transition: all .5s ease-out;
        transition: all .5s ease-out;
    }

    &:hover img{
        -webkit-transform: matrix(1.04, 0, 0, 1.04, 0, 0);
        -moz-transform: matrix(1.04, 0, 0, 1.04, 0, 0);
        -ms-transform: matrix(1.04, 0, 0, 1.04, 0, 0);
        -o-transform: matrix(1.04, 0, 0, 1.04, 0, 0);
        transform: matrix(1.04, 0, 0, 1.04, 0, 0);
    }
}

.transition {
    -webkit-transition: all .2s ease-out;
    -moz-transition: all .2s ease-out;
    -ms-transition: all .2s ease-out;
    -o-transition: all .2s ease-out;
    transition: all .2s ease-out;
}

//sprite icons
.icon{
    position: relative;
    display: inline-block;
    width: 20px;
    height: 20px;
    background-image: url("../images/icon/icons.png");
    background-repeat: no-repeat;
    vertical-align: text-bottom;
}

.icon-weibo{
    background-position: 10px -104px;

    &:hover{
        background-position: 9px -144px;
    }
}

.icon-weixin{
    background-position: -49px -105px;

    &:hover{
        background-position: -50px -145px;
    }
}

.icon-rss{
    background-position: -109px -185px;

    &:hover{
        background-position: -109px -226px;
    }
}
