@import "utils/normalize";
@import "utils/common";

//scrollbar
@import "utils/perfect-scrollbar";

//dashboard
.hide{
  display: none;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  border: none;
}

a{

  &:hover{
    text-decoration: none;
  }

  &:focus{
    outline: none;
  }
}

body{
  background-color: #eeeeee;
}

.page-container{
  display: table;
  width: 100%;
  height: 100%;
  vertical-align: top;
  border-collapse: collapse;
  border-spacing: 0px;
  table-layout: fixed;
}

//side menu
.sidebar-menu{
  display: table-cell;
  position: relative;
  width: 300px;
  background: #2c2e2f;
  z-index: 1;

  &.fixed{
    height: 100%;
  }

  .sidebar-menu-inner{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: inherit;
    overflow: hidden;
  }

  .logo-env{
    padding: 30px 45px;
    border-bottom: 1px solid #313437;

    .logo{

      &>a{
        color: #FFFFFF;
        font-size: 25px;

        &:hover{
          text-decoration: none;
        }

        &.logo-collapsed{
          display: none;
        }
      }

      .glyphicon{
        margin-right: 5px;
      }
    }
  }

  .main-menu{
    padding-left: 40px;
    padding-right: 40px;
    margin-top: 20px;
    margin-bottom: 20px;

    a{
      color: #979898;
      text-decoration: none;
      display: block;
      padding: 13px 5px;
      border-bottom: 1px solid #313437;
      font-size: 16px;
      line-height: 27px;

      &:hover{
        color: #FFFFFF;
      }

      &>.glyphicon{
        display: inline-block;
        margin-right: 10px;

        &+span{
          padding-right: 10px;
        }
      }
    }

    li{
      &.active{
        &>a{
          color: #FFFFFF;
        }
      }

      &.has-sub{

        &>a{
          &:before{
            content: '\e259';
            display: inline-block;
            position: relative;
            float: right;
            top: 1px;
            margin-left: 10px;
            color: #6d747a;
            font-family: 'Glyphicons Halflings';
            font-style: normal;
            font-size: 10px;
            font-weight: 400;
            line-height: 1;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
            -webkit-transform: rotate(-90deg);
            -moz-transform: rotate(-90deg);
            -o-transform: rotate(-90deg);
            -ms-transform: rotate(-90deg);
            transform: rotate(-90deg);
            -webkit-transition: all 150ms ease-in-out;
            -moz-transition: all 150ms ease-in-out;
            -o-transition: all 150ms ease-in-out;
            transition: all 150ms ease-in-out;
          }
        }

        &.opened, &.expanded{
          &>a{
            &:before{
              -webkit-transform: rotate(0deg);
              -moz-transform: rotate(0deg);
              -o-transform: rotate(0deg);
              -ms-transform: rotate(0deg);
              transform: rotate(0deg);
            }

          }

          &>.sub-menu{
            display: block;
          }
        }
      }
    }

    ul{
      display: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
      list-style: none;

      li{
        position: relative;

        a{
          padding-left: 35px;
        }
      }
    }

    &>li{
      &.opened{
        &>ul{
          display: block;
        }
      }
    }

    .sub-menu{

      a{
        font-size: 14px;
      }
    }

  }

  &.collapsed{
    width: 80px;
    z-index: 10;
    overflow: visible;

    .sidebar-menu-inner{
      overflow: visible !important;
      position: relative;
    }

    .logo-env{
      padding: 18px 0;

      .logo{
        float: none !important;
        text-align: center;

        &>a{
          &.logo-expanded{
            display: none;
          }

          &.logo-collapsed{
            display: block;
          }
        }
      }
    }

    .main-menu{
      padding-left: 0;
      padding-right: 0;

      &>li{
        text-align: center;
        position: relative;

        &>a{
          font-size: 0;
          height: 54px;

          .glyphicon{
            top: 4px;
            margin-right: 0;
            font-size: 20px;
          }
        }

        &.has-sub{
          &>a{
            &:before{
              display: none;
            }

          }

          &:hover{
            &>.sub-menu{
              display: block !important;
            }
          }

          &.expanded, &.opened{
            &>.sub-menu{
              display: none;
            }
          }
        }

        &.active{
          background-color: #252627;
        }

        li{
          &.active{
            background-color: #252627;
          }
        }

        &>.sub-menu{
          position: absolute;
          top: 0;
          left: 100%;
          width: 200px;
          background-color: #2c2e2f;

          &>li{
            &>a{
              padding-left: 5px;
            }
          }
        }
      }
    }

    .ps-container{
      &:hover{
        .ps-scrollbar-y-rail{
          .ps-scrollbar-y{
            opacity: 0;
          }
        }
      }

      .ps-scrollbar-x-rail, .ps-scrollbar-y-rail{
        display: none;
      }
    }
  }
}

//top menu
.page-container{

  .main-content{
    display: table-cell;
    position: relative;
    z-index: 1;
    padding: 30px 30px 90px;
    vertical-align: top;
    word-break: break-all;

    .navbar{

      position: relative;
      border: 0;
    }

    .user-info-navbar{
      min-height: 0;
      padding: 0;
      margin: -30px -30px 30px;
      background-color: #FFFFFF;

      .user-info-menu{
        margin: 0;

        &>li{
          position: relative;
          margin: 0;
          padding: 0;
          border: 1px solid #FFFFFF;
          border-top: 0;
          border-bottom: 0;
          display: block;
          line-height: 1;
          float: left;

          a{
            position: relative;
            display: block;
            padding: 30px 20px;
            color: #979898;
            border-bottom: 1px solid #FFFFFF;
            top: 1px;
            z-index: 5;
            line-height: 1;

            &[data-toggle='sidebar']{
              padding-left: 25px;
            }

            .badge{
              font-size: 9px;
              position: absolute;
              top: 20px;
              right: 10px;
              padding: 4px;
              min-width: 18px;
              font-weight: 400;
              line-height: 1;

              &.badge-green, &.badge-success{
                background-color: #8dc63f;
              }

              &.badge-purple{
                background-color: #7c38bc;
              }
            }
          }

          .glyphicon{
            font-size: 16px;
            line-height: 1;
          }

          .dropdown-menu{
            margin: 0 0 0 -1px;
            padding: 0;
            z-index: 3;
            -webkit-box-shadow: 0 2px 8px rgba(0,1,1,.05);
            -moz-box-shadow: 0 2px 8px rgba(0,1,1,.05);
            box-shadow: 0 2px 8px rgba(0,1,1,.05);

            &.messages, &.notifications{
              width: 370px;
            }

            &.top{
              padding: 20px 30px 0;
            }

            &>.external{
              position: relative;

              a{
                display: block;
                padding: 20px 30px;
                color: #979898;
                background-color: #f5f5f5;
              }
            }
          }

          &.hover-line{

            &:hover{
              &:before{
                display: block;
              }
            }

            &:before{
              content: '';
              position: absolute;
              height: 2px;
              top: 0;
              left: 0;
              right: 0;
              background-color: #68b828;
              display: none;
            }
          }
        }

        .user-profile{
          margin-right: 20px;

          &>a{
            border-bottom: none;
            text-decoration: none;
          }

          .avatar{
            position: relative;
            width: 28px;
            height: 28px;
            top: 8px;
            margin-top: -17px;
          }

          .glyphicon{
            font-size: 6px;
          }

          .dropdown-menu{
            width: 200px;
            left: auto;
            right: -1px;
            padding-top: 0;
            padding-bottom: 0;
            margin-left: -1px;
            border-radius: 0;
            border-color: #dddddd;
            z-index: 3;

            li{
              position: relative;
              margin: 0;
              padding: 15px 20px 0;
              line-height: 100%;
              float: none;

              &>a{
                position: relative;
                top: 1px;
                height: 35px;
                line-height: 20px;
                display: block;
                padding: 0 0 15px;
                border-bottom: 1px solid #eeeeee;

                &:hover{
                  background-color: transparent;
                  color: #606161;
                }

                &>span{
                  display: inline-block;
                  margin-right: 8px;
                  color: inherit;
                }
              }

              &.last{
                background-color: #fafafa;
                border-top: 1px solid #eeeeee;

                &>a{
                  border-bottom: 0;
                }
              }
            }

          }

          &.open{

            border-left-color: #dddddd;
            border-right-color: #dddddd;
            z-index: 15;
            color: #606161;

            &>a{
              border-bottom: 1px solid #FFFFFF;
              z-index: 5;
            }

          }
        }
      }
    }

  }
}

//breadcrumb
.page-container{

  .main-content{

    .page-title{
      background-color: #f8f8f8;
      margin: -30px -30px 30px;
      padding: 20px 0;
      -webkit-box-shadow: 0 1px 0 rgba(0,1,1,.08), inset 0 1px 0 #ededed;
      -moz-box-shadow: 0 1px 0 rgba(0,1,1,.08), inset 0 1px 0 #ededed;
      box-shadow: 0 1px 0 rgba(0,1,1,.08), inset 0 1px 0 #ededed;

      .title-env{
        float: left;
        padding-left: 30px;

        h1{
          margin: 0;
          font-size: 27px;
          font-weight: 400;
        }

        .description{
          margin: 5px 0 0;
          color: #979898;
          font-size: 13px;
          line-height: 20px;
        }
      }

      .breadcrumb-env{
        float: right;
        padding-right: 30px;

        .breadcrumb{
          margin-top: 8px;
          margin-bottom: 0;
          background: none;

          &>li{
            display: inline-block;

            a{
              color: #979898;

              &>.glyphicon{
                margin-right: 4px;
                font-size: 12px;
                line-height: 1;
              }
            }

            &:last-child{
              a{
                color: #646565;
              }
            }
          }
        }
      }
    }
  }
}

//content
.page-container{

  .main-content{

    .content{
      padding: 20px 10px;
      background-color: #FFFFFF;

      #setting-navigations{

        .nav-item{
          display: -webkit-flex;
          display: -ms-flexbox;
          display: flex;
          -webkit-align-items: center;
          -ms-flex-align: center;
          align-items: center;
          margin-bottom: 10px;
          padding: 0 20px;

          &.sub-nav{
            padding-left: 50px;
          }

          .icon-grab{
            width: 16px;
            height: 16px;
            padding: 0 16px 0 0;
            text-indent: -10px;
            font-size: 16px;
            cursor: move;
            color: #d1d1d1;
          }

          .nav-line{
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            width: 100%;

            .nav-label{
              -webkit-flex-grow: 1;
              -ms-flex-positive: 1;
              flex-grow: 1;
              margin-right: 10px;
            }

            .nav-url{
              -webkit-flex-grow: 3;
              -ms-flex-positive: 3;
              flex-grow: 3;
            }
          }

          .nav-delete{
            padding: 8px 0 8px 10px;
            border: 0;
            color: #c1c1c1;
            font-size: 14px;
            transition: color .1s linear;
            background: none;

            &:hover{
              color: #e25440;
            }
          }

          .nav-add{
            width: 20px;
            height: 20px;
            padding: 3px;
            margin-left: 5px;
            border: 0;
            border-radius: 2px;
            font-size: 10px;
            color: #FFFFFF;
            background-color: #9fbb58;
            line-height: 1;
          }
        }
      }
    }
  }
}

//footer
.page-container{

  .main-content{

    .main-footer{
      position: absolute;
      bottom: 0;
      width: 100%;
      margin: 30px -30px 0 -30px;
      padding: 20px 30px;
      border-top: 1px solid #dddddd;
      font-size: 12px;
      background-color: #eeeeee;

      .go-top{
        &>a{
          display: inline-block;
          padding: 2px 5px;
          background-color: rgba(44, 46, 47, 0.05);
          color: #373e4a;
        }
      }
    }
  }
}