{% extends 'base.html' %}

{% block title %}
{{ Setting.get_setting('blog_name', 'Plog') }}
{% endblock %}

{% block css %}
<!--link rel="stylesheet" href="//cdn.bootcss.com/font-awesome/4.5.0/css/font-awesome.min.css"-->
<link href="//cdn.bootcss.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" href="{{ url_for('static', filename='dist/styles/page-article.css') }}">
{% endblock %}

{% block header %}
{% include 'modules/common_header.html' %}
{% endblock %}

{% block body_class %}single single-article abs-header{% endblock %}

{% block content %}
<div class="container main col-2">
    {{ super() }}
    <div class="wrap-right pull-right">
        <!-- Banner L1 -->
        <div class="big-banner hover-scale">
            <div class="back-img">
                <img src="http://images.huxiu.com/article/cover/201602/16/080449809182.jpg?imageView2/1/w/1600/h/900/imageMogr2/strip/interlace/1/format/jpg" alt="#todo">
            </div>
            <a href="/#todo" target="_blank">
                <div class="banner-content">
                    <h1 class="banner-h1">微信提现收费罪在银行？抱歉，这锅弱势群体不背</h1>
                </div>
            </a>
        </div>
        <!-- Banner L2 -->
        <div class="big-banner2 hover-scale pull-left">
            <div class="back-img">
                <img src="http://images.huxiu.com/article/cover/201602/16/080449809182.jpg?imageView2/1/w/1600/h/900/imageMogr2/strip/interlace/1/format/jpg" alt="#todo">
            </div>
            <a href="#todo" target="_blank">
                <div class="banner-content">
                    <h2 class="banner-h2">微信提现收费罪在银行</h2>
                </div>
            </a>
        </div>
        <div class="big-banner2 hover-scale pull-right">
            <div class="back-img">
                <img src="http://images.huxiu.com/article/cover/201602/16/080449809182.jpg?imageView2/1/w/1600/h/900/imageMogr2/strip/interlace/1/format/jpg" alt="#todo">
            </div>
            <a href="#todo" target="_blank">
                <div class="banner-content">
                    <h2 class="banner-h2">这次弱势群体有话说</h2>
                </div>
            </a>
        </div>
        <!-- 文章列表 -->
        <section class="article-list index-article-list">
            {% import 'macros/index_article.html' as article_render %}
            {% for post in posts %}
                {{ article_render.render_article_item(post) }}
            {% endfor %}
        </section>
        <!-- End 文章列表 -->
        <!-- 分页 -->
        <div class="pagination clearfix">
            {% if pagenation.has_prev %}
            <a href="{{ url_for('main.index_paged', page=pagenation.prev_num) }}" class="prev transition">上一页</a>
            {% else %}
            <a href="javascript:void(0)" class="prev disabled">上一页</a>
            {% endif %}
            {% if pagenation.has_next %}
            <a href="{{ url_for('main.index_paged', page=pagenation.next_num) }}" class="next transition">下一页</a>
            {% else %}
            <a href="javascript:void(0)" class="next disabled">下一页</a>
            {% endif %}
        </div>
        <!-- End 分页 -->
    </div>
    <!-- Sidebar -->
    {% include 'modules/article_sidebar.html' %}
    <!-- End Sidebar -->
</div>
{% endblock %}

{% block footer %}
{% include 'modules/common_footer.html' %}
{% endblock %}

{% block script %}
<!--script src="//cdn.bootcss.com/jquery/2.2.0/jquery.min.js"></script-->
<script type="text/javascript" src="{{ url_for('static', filename='dist/scripts/libs/jquery/2.2.0/jquery.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='dist/scripts/page-article.js') }}"></script>
{% endblock %}