{% extends 'base.html' %}

{% block title %}{{ post.title+' - ' if post else '文章 - ' }}{{- Setting.get_setting('blogtitle', 'Plog') -}}{% endblock %}

{% block keywords %}{{ post.meta_title if post else '' }}{% endblock %}
{% block description %}{{ post.meta_description if post else '' }}{% endblock %}

{% block css %}
<!--link rel="stylesheet" href="//cdn.bootcss.com/font-awesome/4.5.0/css/font-awesome.min.css"-->
<link href="//cdn.bootcss.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" href="{{ url_for('static', filename='dist/styles/page-article.css') }}">
{% endblock %}

{% block header %}
{% include 'modules/common_header.html' %}
{% endblock %}

{% block body_class %}single abs-header{% endblock %}

{% block content %}
<div class="container main col-2">
    {{ super() }}
    <div class="wrap-right pull-right">
        <!-- 文章 -->
        <div class="article-section" id="{{ 'article-section-'+str(post.post_id) }}" data-aid="{{ post.post_id }}" data-url="{{ post.get_permalink(external=True) }}">
            <article class="single-article">
                <section class="single-article-header">
                    <h1>{{ post.title }}</h1>
                    <div class="meta">
                        <a href="{{ author.get_homepage() }}">
                            <img class="avatar" src="{{ author.get_avatar(size=30) }}" />
                            <span class="name">{{ author.nickname or author.name }}</span>
                        </a>
                        <span class="time">
                            <abbr title="{{ post.create_at.strftime('%Y-%m-%d %H:%M:%S +0800') }}">{{- ' • ' + post.create_at.strftime('%Y/%m/%d %H:%M') -}}</abbr>
                        </span>
                    </div>
                    <div class="head-thumb">
                        {% if post.image %}
                        <img src="post.image" />
                        {% endif %}
                        <img src="http://b.36krcnd.com/nil_class/6e456c38-eed9-411f-8b88-664280fe39b9/QQ20160218-5.png!heading" /> <!-- TODO clear -->
                    </div>
                </section>
                <br>
                <section class="article content">
                    {{ Markup(post.html) }}
                </section>
                <!-- AD -->
                <section class="gg">
                <!-- TODO AD -->
                </section>
                <!-- 打赏 -->
                <section class="donate">
                    <div class="inner">
                        <a class="pay" href="javascript:void(0)">赏
                            <span class="qr-wrap">
                                <img src="https://mobilecodec.alipay.com/show.htm?code=rex034926uxjbccnlfyygc3" alt="" /> <!-- TODO donate -->
                                <b>支付宝 扫一扫</b>
                            </span>
                        </a>
                    </div>
                </section>
                <!-- 标签 -->
                <section class="tags">
                    {% import 'macros/article_tags.html' as tag_macro %}
                    {{ tag_macro.output_tags(post.get_tags() if post else None) }}
                </section>
                <!-- 分享 -->
                <section class="share">
                    <!-- TODO share -->
                </section>
            </article>
            <!-- 相关文章 -->
            <section class="single-article-relate">
                <!-- TODO relate -->
            </section>
            <!-- 评论 -->
            <section class="single-article-comments" id="comments" data-aid="{{ post.post_id }}">
                {% include 'modules/comments.html' %}
            </section>
        </div>
        <!-- End 文章 -->
    </div>
    <!-- Sidebar -->
    {% include 'modules/article_sidebar.html' %}
    <!-- End Sidebar -->
</div>
{% endblock %}

{% block footer %}
{% include 'modules/common_footer.html' %}
{% endblock %}

{% block script %}
<!--script src="//cdn.bootcss.com/jquery/2.2.0/jquery.min.js"></script-->
<script type="text/javascript" src="{{ url_for('static', filename='dist/scripts/libs/jquery/2.2.0/jquery.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='dist/scripts/page-article.js') }}"></script>
{% endblock %}