{% extends 'error_pages/error_base.html' %}

{% block title -%}未找到页面{%- endblock %}

{% block css %}
<link href="//cdn.bootcss.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" href="{{ url_for('static', filename='dist/styles/page-error.css') }}">
{% endblock %}

{% block header %}
{% include 'modules/common_header.html' %}
{% endblock %}

{% block body_class %}error error-404 abs-header{% endblock %}

{% block content %}
<div class="container main">
    <div class="error-inner">
        <!--p>The requested URL was not found on the server.  If you entered the URL manually please check your spelling and try again.</p-->
        <p class="error-tip">404, 页面未找到, 点击<a href="{{ url_for('main.index') }}">返回首页</a></p>
        <div class="error-image-wrap">
            <img src="{{ url_for('static', filename='dist/images/sammy-error.gif') }}">
        </div>
    </div>
</div>
{% endblock %}

{% block script %}
<!--script src="//cdn.bootcss.com/jquery/2.2.0/jquery.min.js"></script-->
<script type="text/javascript" src="{{ url_for('static', filename='dist/scripts/libs/jquery/2.2.0/jquery.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='dist/scripts/page-error.js') }}"></script>
{% endblock %}